@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
}

html {
    font-size: 16px !important;
}

@supports (-moz-appearance: none) {
    table * {
        /* firefoxでは、background-colorが設定されているとtableのborderが消えてしまう仕様のため、これでborderを表示させる */
        /* https://satoimo.blog/css-border-disappears-in-firefox-fix/ */
        background-clip: padding-box;
    }
}
