:root {
    --drmaggot__font: "";
    --drmaggot__fontSize: 13px;
}

#chatroom-messages {
    & {
        font-family: var(--drmaggot__font), -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
            "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif !important;
        font-size: var(--drmaggot__fontSize);
    }
}
