:root {
    --drmaggot__unifyNameValue: ">";
}

.chat-list-content {
    & .sc-1i0rd20-1 {
        font-size: 0px;
    }

    & .sc-1i0rd20-2 {
        display: none;
    }

    & .sc-1i0rd20-1::before {
        content: var(--drmaggot__unifyNameValue);
        font-size: var(--drmaggot__fontSize);
    }
}
