:root {
    --drmaggot__subOnlyStripeColor: #000000;
}

/* live */
[data-test-selector='chat-scrollable-area__message-container'] > :nth-child(even of :not([hidden])) {
    --drmaggot__stripeColor: #00000000;
}

[data-test-selector='chat-scrollable-area__message-container']
    > :nth-child(
        even
            of
            .chat-line__message:has(
                img.chat-badge[alt*='ストリーマー'],
                img.chat-badge[alt*='チャットモデレーター'],
                img.chat-badge[alt*='認証済み'],
                img.chat-badge[alt*='サブスクライバー'],
                img.chat-badge[alt*='Broadcaster'],
                img.chat-badge[alt*='Subscriber'],
                img.chat-badge[alt*='Verified'],
                img.chat-badge[alt*='Moderator'],
                img.chat-badge[alt*='Indholdsudbyder'],
                img.chat-badge[alt*='Bekræftet'],
                img.chat-badge[alt*='Verifiziert'],
                img.chat-badge[alt*='Emisor'],
                img.chat-badge[alt*='Verificado'],
                img.chat-badge[alt*='Diffuseur'],
                img.chat-badge[alt*='Vérifié'],
                img.chat-badge[alt*='Emittente'],
                img.chat-badge[alt*='Verificato'],
                img.chat-badge[alt*='Közvetítő'],
                img.chat-badge[alt*='Hitelesített'],
                img.chat-badge[alt*='Uitzender'],
                img.chat-badge[alt*='Geverifieerd'],
                img.chat-badge[alt*='Kringkaster'],
                img.chat-badge[alt*='Bekreftet'],
                img.chat-badge[alt*='Nadawca'],
                img.chat-badge[alt*='Zweryfikowane'],
                img.chat-badge[alt*='Emissor'],
                img.chat-badge[alt*='Confirmado'],
                img.chat-badge[alt*='Emissora'],
                img.chat-badge[alt*='Emiţător'],
                img.chat-badge[alt*='Verificat'],
                img.chat-badge[alt*='Vysielateľ'],
                img.chat-badge[alt*='Overené'],
                img.chat-badge[alt*='Lähettäjä'],
                img.chat-badge[alt*='Vahvistettu kumppani'],
                img.chat-badge[alt*='Sändare'],
                img.chat-badge[alt*='Verifierad'],
                img.chat-badge[alt*='Đài phát'],
                img.chat-badge[alt*='Đã xác minh'],
                img.chat-badge[alt*='Yayınlayan'],
                img.chat-badge[alt*='Doğrulandı'],
                img.chat-badge[alt*='Vysílající uživatel'],
                img.chat-badge[alt*='Ověřeno'],
                img.chat-badge[alt*='Επαληθεύτηκε'],
                img.chat-badge[alt*='Επόπτης'],
                img.chat-badge[alt*='Излъчващ играч'],
                img.chat-badge[alt*='Проверено'],
                img.chat-badge[alt*='Владелец канала'],
                img.chat-badge[alt*='Подтверждено'],
                img.chat-badge[alt*='นักจัดรายการ'],
                img.chat-badge[alt*='ยืนยันแล้ว'],
                img.chat-badge[alt*='直播者'],
                img.chat-badge[alt*='已验证'],
                img.chat-badge[alt*='轉播'],
                img.chat-badge[alt*='已驗證'],
                img.chat-badge[alt*='스트리머'],
                img.chat-badge[alt*='인증 완료'],
                img.chat-badge[alt*='매니저']
            ):not([hidden])
    ) {
    background-color: var(--drmaggot__subOnlyStripeColor);
}

/* archive */
ul > li:nth-child(even of :not([hidden])) {
    --drmaggot__stripeColor: #00000000;
}

ul
    > li:nth-child(
        even
            of
            li:has(
                img.chat-badge[alt*='ストリーマー'],
                img.chat-badge[alt*='チャットモデレーター'],
                img.chat-badge[alt*='認証済み'],
                img.chat-badge[alt*='サブスクライバー'],
                img.chat-badge[alt*='Broadcaster'],
                img.chat-badge[alt*='Subscriber'],
                img.chat-badge[alt*='Verified'],
                img.chat-badge[alt*='Moderator'],
                img.chat-badge[alt*='Indholdsudbyder'],
                img.chat-badge[alt*='Bekræftet'],
                img.chat-badge[alt*='Verifiziert'],
                img.chat-badge[alt*='Emisor'],
                img.chat-badge[alt*='Verificado'],
                img.chat-badge[alt*='Diffuseur'],
                img.chat-badge[alt*='Vérifié'],
                img.chat-badge[alt*='Emittente'],
                img.chat-badge[alt*='Verificato'],
                img.chat-badge[alt*='Közvetítő'],
                img.chat-badge[alt*='Hitelesített'],
                img.chat-badge[alt*='Uitzender'],
                img.chat-badge[alt*='Geverifieerd'],
                img.chat-badge[alt*='Kringkaster'],
                img.chat-badge[alt*='Bekreftet'],
                img.chat-badge[alt*='Nadawca'],
                img.chat-badge[alt*='Zweryfikowane'],
                img.chat-badge[alt*='Emissor'],
                img.chat-badge[alt*='Confirmado'],
                img.chat-badge[alt*='Emissora'],
                img.chat-badge[alt*='Emiţător'],
                img.chat-badge[alt*='Verificat'],
                img.chat-badge[alt*='Vysielateľ'],
                img.chat-badge[alt*='Overené'],
                img.chat-badge[alt*='Lähettäjä'],
                img.chat-badge[alt*='Vahvistettu kumppani'],
                img.chat-badge[alt*='Sändare'],
                img.chat-badge[alt*='Verifierad'],
                img.chat-badge[alt*='Đài phát'],
                img.chat-badge[alt*='Đã xác minh'],
                img.chat-badge[alt*='Yayınlayan'],
                img.chat-badge[alt*='Doğrulandı'],
                img.chat-badge[alt*='Vysílající uživatel'],
                img.chat-badge[alt*='Ověřeno'],
                img.chat-badge[alt*='Επαληθεύτηκε'],
                img.chat-badge[alt*='Επόπτης'],
                img.chat-badge[alt*='Излъчващ играч'],
                img.chat-badge[alt*='Проверено'],
                img.chat-badge[alt*='Владелец канала'],
                img.chat-badge[alt*='Подтверждено'],
                img.chat-badge[alt*='นักจัดรายการ'],
                img.chat-badge[alt*='ยืนยันแล้ว'],
                img.chat-badge[alt*='直播者'],
                img.chat-badge[alt*='已验证'],
                img.chat-badge[alt*='轉播'],
                img.chat-badge[alt*='已驗證'],
                img.chat-badge[alt*='스트리머'],
                img.chat-badge[alt*='인증 완료'],
                img.chat-badge[alt*='매니저']
            ):not([hidden])
    ) {
    background-color: var(--drmaggot__subOnlyStripeColor);
}
