.kick__quick-block {
    & {
        display: none;
        position: absolute;
        border: 1px solid rgb(75 85 99);
        background-color: rgba(65, 68, 73, 1);
        border-radius: 9999px;
        top: -1rem;
        right: 40px;
        width: 34px;
        height: 34px;
    }

    &:hover {
        background-color: rgba(49, 53, 56, 1);
    }
}

.kick__quick-block--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.group:hover .kick__quick-block {
    display: block;
}
